{% extends "base_content_mon.html" %}

{% block url %} 
    window.mon = {{ mon }};
    window.URL = "{% url 'rainfallMon' 0 %}".replace('0',mon);
{% endblock url %}

{% block title %}
<div id ="after" style="text-align:center; display:none;">
    <h2 style="margin-bottom:0;">Average rainfall for <span id="month"></span></h2></div>
{% endblock title %}

{% block monthlynav %}
    <div id ="monthlynavbar">
        {% for month in months %}
            <button id={{month}} onclick="changePage('{% url 'rainfallMon' forloop.counter0 %}');">{{month}}</button>  
        {% endfor %}
    </div>
{% endblock monthlynav %}

{% block explanation %}
    <h4>Monthly average daily rainfall (rainfall)</h4>
    <p>These data record the average daily rainfall in a given month. In
    other words 
    $$\mathrm{rainfall}(m) = \frac{\mathrm{totalrainfall}(m)}{|m|},$$
    where \(\mathrm{totalrainfall}(m)\) and \(|m|\) are the total rainfall 
    in the month \(m\) and the number of days in the month \(m\) respectively.
    </p>
{% endblock explanation %}
